<div>
	<%= form_for @transport do |f| %>

		<% if @transport.errors.any? %>
			<div>
				<h2> <%= pluralize(@transport.errors.count, "Error")%> Stoped this post from saving </h2>
				<ul>
					<%= @transport.errors.full_messages.each do |msg| %>
						<li> <%= msg %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
		<p>
			<%= f.label :contact %><br>
			<%= f.text_area :contact, size: "40x1" %>
		</p>
		<p>
			<%= f.label :category %><br>
			<%= f.select :category, ['Van', 'Onibus', 'Carona'] %>
		</p>
		<p>
			<%= f.label :description %><br>
			<%= f.text_area :description, size: "40x10" %>
		</p>
		<p>
			<%= f.label :price %><br>
			<%= f.number_field :price %>
		</p>
		<p>
			<%= f.submit 'Cadastrar Transport' %>
		</p>
	<% end %>
</div>