<div>
	<%= form_for @grupo do |f| %>

		<% if @grupo.errors.any? %>
			<div>
				<h2> <%= pluralize(@grupo.errors.count, "Error")%> Stoped this post from saving </h2>
				<ul>
					<%= @grupo.errors.full_messages.each do |msg| %>
						<li> <%= msg %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
		<p>
			<%= f.label :nome %><br>
			<%= f.text_field :nome %>
		</p>
		<p>
			<%= f.label :autor %><br>
			<%= f.text_field :autor %>
		</p>
		<p>
			<%= f.label :disciplina %><br>
			<%= f.text_field :disciplina %>
		</p>
		<p>
			<%= f.submit 'Cadastrar Grupo' %>

			<%= f.submit 'Convidar Amigo' %>

			<%= f.submit 'Entrar no Grupo' %>
		</p>
	<% end %>
</div>