<div class="col-xs-12 col-md-8" id="timeline">
	<button class="btn btn-primary pull-right"><%= link_to "Cadastrar grupo", new_grupo_path %></button>
	<h1>Grupos</h1>

			
			<% @grupos.each do |grupo| %>
			<div class="post_wrapper">
				<figure>
					<img src="https://scontent.fsjk2-1.fna.fbcdn.net/v/t1.0-9/16002978_1281072411972370_8311867439911504863_n.jpg?oh=10d416e5be5d8dfe5df2f00be2b2a7a4&oe=59AA0426" class="img-circle thumbnail">
					<figcaption>
						<h5 class="body"> <%= grupo.nome %></h5>
					</figcaption>
				</figure>
				
				<section class="content-timeline">
					<h5 class="title"> <%= link_to grupo.autor, grupo %> </h5>
					<p class="date"> <%= time_ago_in_words(grupo.created_at) %> ago </p>
					<p class="body" style="white-space: pre-wrap"><%= truncate(grupo.disciplina, length:100)%></p><% if grupo.disciplina.length > 100 %>
					<%=link_to "Ver mais", grupo %>
					<% end %>
				</section>
			</div>
			<% end %>
		</div>
	</div>
