<div class="col-xs-12 col-md-8" id="timeline">
	<h1>Projetos</h1>

	<% @projects.each do |project| %>
	<div class="post_wrapper">
		<figure>
			<img src="https://scontent.fsjk2-1.fna.fbcdn.net/v/t1.0-9/16002978_1281072411972370_8311867439911504863_n.jpg?oh=10d416e5be5d8dfe5df2f00be2b2a7a4&oe=59AA0426" class="img-circle thumbnail">
			<figcaption>
				<h5 class="body"> <%= project.author %></h5>
			</figcaption>
		</figure>

		<section class="content-timeline">
			<h5 class="title"> <%= link_to project.name, project %> </h5>
			<p class="date"> <%= time_ago_in_words(project.created_at) %> ago </p>
			<p class="body">Categoria: <strong><%= project.category %></strong></p>
			<p class="body"> <%= truncate(project.description, length:100) %><br><% if project.description.length > 100 %>
				<%= link_to "Ver mais", project %></p>
				<% end %>
			</section>
		</div>
		<% end %>
	</div>
</div>


