<div class="col-xs-12 col-md-8" id="timeline">
	<button class="btn btn-primary pull-right"><%= link_to "Ver Projetos", projects_path %></button>
	<h1 class="title">
		<%=	@project.name%>
	</h1>

	<p class="date">
		Postado a <%= time_ago_in_words(@project.created_at) %> atrás
	</p>

	<p class="body">
		<strong>Criado por: </strong><%= @project.author %><br>
		<strong>Categoria: </strong><%= @project.category %>
	</p>

	<div class="post_wrapper">
		<%= @project.description %>
	</div>
	<% if user_signed_in? %>
	<button class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i><%= link_to 'Editar', edit_project_path(@project) %></button>
	<button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i><%= link_to 'Apagar', project_path(@project), method: :delete, data: {confirm: "Você tem certeza?"} %>
	<% end -%>
</div>
